*{
  box-sizing: border-box;
  }
  
  header {
  background-color: #54b4e6;
  height: 50px;
  }

  @font-face {
    font-family: empires;
    src: url(../tipografias/Empires.otf);
  }

  
  .background-img {
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .container-fluid {
    max-width: 900px;
  }

  .navbar-nav .nav-link {
    font-family: "Berlin Sans FB";
    font-size: 25px;
  }
  
  .progress-bars-container {
    background-color: #082644;
    padding: 20px;
    border-radius: 10px;
    margin-right: 20px;
    display: flex;
    flex-wrap: wrap;
    animation: 5s cubic-bezier(.25, 1, .30, 1) wipe-in-right both;
  }
  
  .progress-bar {
    background-color: #54b4e6;
    height: 20px;
    margin-bottom: 10px;
    position: relative;
    overflow: hidden;
    transition: width 2s ease-in-out;
 }

 .progress-bars-container:hover .progress-bar {
  width: 100%;
}
  
.progress-label {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  padding: 3px;
  color: #fff;
  font-size: 12px;
  font-weight: bold;
  width: 100%;
  text-align: center;
}

.progress-bar span.float-right {
  float: right;
}

.progress-bar span.float-left {
  float: left;
}

  .progress-title {
    font-size: 60px;
    color: #ffffff;
    font-family: "empires";
  }
  
  .about-me-container {
    display: flex;
    margin-top: 50px;
  }
  
  
  .tamaño-imagen {
    width: 200%;
    height: 100%;
    animation: 2.5s cubic-bezier(.25, 1, .30, 1) circle-in-bottom-left both;
  }
  
  .info-title {
    font-size: 80px;
    color: #ffffff;
    font-family: "empires";
  }

  .info-me {
    font-size: 25px;
    color: #ffffff;
    font-family: "Berlin sans FB";
  }
  
  .btn-info {
    background-color: #54B4E6;
    font-size: 30px;
    color: #ffffff;
    font-family: "empires";
  }

  .habilities-title {
    font-size: 80px;
    color: #ffffff;
    font-family: "empires";
  }

  .habilities{
    font-size: 30px;
    color: white;
    font-family: "Berlin Sans FB";
  }

  .card-title{
    font-size: 40px;
    color: #ffffff;
    font-family: "empires";
  }

  .card-text{
    font-size: 20px;
    color: white;
    font-family: "Berlin Sans FB";
  }

  .img-fluid-one{
    height: 50px;
  }

  .card {
    background-color: #082644;
    animation: 5s cubic-bezier(.25, 1, .30, 1) square-in-bottom-right both;
  }

  .icon-container {
    margin-right: 80px;
  }


  @keyframes circle-in-bottom-left {
    from {
      clip-path: circle(0%);
    }
    to {
      clip-path: circle(150% at bottom left);
    }
  }
  
  @keyframes wipe-in-right {
    from {
      clip-path: inset(0 100% 0 0);
    }
    to {
      clip-path: inset(0 0 0 0);
    }
  }

  @keyframes square-in-bottom-right {
    from {
      clip-path: inset(0 100% 100% 0);
    }
    to {
      clip-path: inset(0 0 0 0);
    }
  }
  
  [transition-style="in:square:bottom-right"] {
    animation: 2.5s cubic-bezier(.25, 1, .30, 1) square-in-bottom-right both;
  }